name: Update RSS
on:
  workflow_dispatch:
  schedule:
    - cron: '*/10 * * * *'
jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: gh-pages
      
      - name: Create RSS
        run: |
          echo '<?xml version="1.0"?>' > meteo.rss
          echo '<rss version="2.0">' >> meteo.rss
          echo '<channel>' >> meteo.rss
          echo '<title>Meteo</title>' >> meteo.rss
          echo '<item><title>Test 1</title></item>' >> meteo.rss
          echo '<item><title>Test 2</title></item>' >> meteo.rss
          echo '</channel>' >> meteo.rss
          echo '</rss>' >> meteo.rss
      
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: .
          publish_branch: gh-pages
          keep_files: true
